@import "vars"


/*==========  Desktop First  ==========*/

// ≥1200px
+media-breakpoint-down(lg)
	.topmenu li a
			padding: 5px 15px
			
	.header-content 
		.header-img-wraper
			img
				max-width: 400px 
// ≥992px
+media-breakpoint-down(md)
	.header-content 
		.header-text-wraper
			left: 0
			
	.sect-1
		&:before
			display: none
		.image-wraper-sect-1
			bottom: 0
	.header-content
		padding-top: 50px

// ≥768px
+media-breakpoint-down(sm)
	.line
		display: none

// ≥576px
+media-breakpoint-down(xs)


/*==========  Mobile First  ==========*/

// ≤576px
+media-breakpoint-up(sm)

// ≤768px
+media-breakpoint-up(md)

// ≤992px
+media-breakpoint-up(lg)

// ≤1200px
+media-breakpoint-up(xl)
