@import "vars"
@import "fonts"
@import "libs"

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff
	
html
	overflow-x: hidden

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	// font-family: $default-font
	overflow-x: hidden
	color: $text
	font-family: tt-norms
	font-weight: 500 
	overflow-x: hidden
	input, textarea
		border: #666 1px solid
		outline: none
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: green

.line
	position: absolute
	right: 50%
	height: 100%
	width: 1px
	background-color: rgba(206, 206, 206, 0.3)
	z-index: -1
	&:before
		content: ''
		position: absolute
		right: 380px
		height: 100%
		width: 1px
		background-color: rgba(206, 206, 206, 0.3)
		z-index: -1
	&:after
		content: ''
		position: absolute
		right: -380px
		height: 100%
		width: 1px
		background-color: rgba(206, 206, 206, 0.3)
		z-index: -1

.line-3
	position: absolute
	right: 50%
	height: 30px
	width: 3px
	background-color: rgba(206, 206, 206, 0.6)
	z-index: 1
	top: 1800px
	&:before
		content: ''
		position: absolute
		right: 380px
		height: 100%
		width: 3px
		background-color: rgba(206, 206, 206, 0.6)
		z-index: 1
		top: -700px
		repeat-y: 300px
	&:after
		content: ''
		position: absolute
		right: -380px
		height: 100%
		width: 3px
		background-color: rgba(206, 206, 206, 0.6)
		z-index: 1
		top: 1400px

.line-4
	position: absolute
	right: 50%
	height: 30px
	width: 3px
	background-color: rgba(206, 206, 206, 0.6)
	z-index: 1
	top: 1500px
	&:before
		content: ''
		position: absolute
		right: 380px
		height: 100%
		width: 3px
		background-color: rgba(206, 206, 206, 0.6)
		z-index: 1
		top: -700px
		repeat-y: 300px
	&:after
		content: ''
		position: absolute
		right: -380px
		height: 100%
		width: 3px
		background-color: rgba(206, 206, 206, 0.6)
		z-index: 1
		top: 1400px
		
.line-header
	position: absolute
	right: 50%
	height: 100%
	width: 1px
	background-color: rgba(206, 206, 206, 0.3)
	&:before
		content: ''
		position: absolute
		right: 380px
		height: 100%
		width: 1px
		background-color: rgba(206, 206, 206, 0.3)
	&:after
		content: ''
		position: absolute
		right: -380px
		height: 100%
		width: 1px
		background-color: rgba(206, 206, 206, 0.3)

h1
	font-size: 42px
h2
	font-size: 36px
h3
	font-size: 32px
h4
	font-size: 26px
h5
	font-size: 22px
h6
	font-size: 18px
			
button
	border: none
	padding: 12px 35px
	box-shadow: 0 0px 15px rgb(56, 74, 232)
	border-radius: 5px
	white-space: nowrap
	transition: all ease 0.3s
	cursor: pointer 
	color: #333
	font-size: 18px
	font-weight: 400
	outline: none 
	background: linear-gradient(to right,#3e49f5,#fe4797)
	color: #fff
	a
		outline: none
		&:hover
			text-decoration: none
			color: #333
	&:hover
		box-shadow: 0 0px 15px #98a3ff

.relative
	position: relative
	
.absolute
	position: absolute

.img-responsive
	display: block
	max-width: 100%
	height: auto
	&.img-width
		width: 100%

.text-center
	text-align: center

b, strong
	font-weight: bold

.main-header
	background-image: url(/img/printshop_floor.jpg)
	min-height: 800px
	position: relative
	background-repeat: no-repeat
	background-size: cover
	z-index: 2
	&:before
		background: linear-gradient(101.78deg, #000F96 4%, rgba(49, 70, 255, 0.88) 100%)
		content: ''
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		z-index: -1
	&:after
		background: url(/img/bg-head.svg)
		background-repeat: no-repeat
		content: ''
		position: absolute
		top: 200px
		left: 0
		right: 0
		bottom: 0	
		z-index: -1
		width: 500px
		height: 500px
	.top-line
		padding-top: 50px
		line-height: 40px
		.main-mnu
			ul>li
				display: inline-block
				margin-right: 50px
				a
					color: #FFF
		.header-phone-wraper
			margin-top: -20px
			span
				display: block
				font-size: 20px
				color: #FFF
				white-space: nowrap 
		.logo-wraper
			margin-top: -22px
			img
				width: 90px

.header-content
	padding-top: 120px
	color: #FFF
	.header-text-wraper
		padding: 40px 40px
		border-top: 10px solid #FF4796
		border-left: 10px solid #FF4796
		border-bottom: 10px solid #FF4796
		position: relative
		left: -50px
		&:before
			content: ""
			display: block
			position: absolute
			top: 0%
			width: 20px
			height: 80px
			border-right: 10px solid #ff4796
			right: 0
		&:after
			content: ""
			display: block
			position: absolute
			bottom: 0%
			width: 20px
			height: 80px
			border-right: 10px solid #ff4796
			right: 0
		h1
			font-size: 40px 
			padding: 20px 0 
	.header-img-wraper
		position: relative
		z-index: 1
		&:before
			content: ''
			width: 600px
			height: 600px
			background-image: url(/img/cube.svg) 
			background-repeat: no-repeat
			background-position: center top
			position: absolute
			z-index: -1
	.button-wraper
		position: relative
		top: 30px
		
.sect-1
	padding-top: 120px
	position: relative
	// &:before
	// 	content: '80 лет'
	// 	position: absolute
	// 	font-size: 570px
	// 	color: #F9F9F9
	// 	font-weight: 700 
	// 	bottom: 50px
	// 	z-index: -1 
	.sect-1-text
		.sect-header
			h2
				&:after
					position: relative
					content: ''
					height: 4px
					background: linear-gradient(101.78deg,#3B49F6 4%,#FE4797 100%)
					width: 68px
					display: block
					bottom: 0px
					left: 35px
					border-radius:  30px
					transform: translate(-50%, 0)
	.image-wraper-sect-1
		text-align: center
		position: relative
		bottom: 170px
		z-index: 1
		&:after
			content: ''
			background-image: url(/img/bg-zh.svg)
			background-repeat: no-repeat
			background-position: bottom
			width: 466px
			height: 500px
			position: absolute
			left: -68px
			top: 295px
			z-index: -1
		&:before
			content: ''
			background-image: url(/img/round.svg)
			background-repeat: no-repeat
			background-position: bottom
			width: 300px
			height: 300px
			position: absolute
			left: 420px
			top: -25px
			z-index: -1

.sect-2
	padding-top: 70px
	background-image: url(/img/bg-02.svg)
	background-repeat: no-repeat
	background-position: center 
	.sect-2-header
		h2
			position: relative
			&:after
				position: relative
				content: ''
				height: 4px
				background: linear-gradient(101.78deg,#3B49F6 4%,#FE4797 100%)
				width: 68px
				display: block
				bottom: 0px
				left: 35px
				border-radius:  30px
				transform: translate(-50%, 0)
			&:before
				content: 'Наша продукция'
				position: absolute
				font-size: 125px
				color: #f9f9f9
				font-weight: 700
				bottom: -65px
				z-index: -1
				left: -60px
	.product-wraper
		padding-top: 100px
		.round
			background-image: url(/img/round.svg) 
			background-repeat: no-repeat
			background-position: 0px 0px
			.product-href
				color: #333
				text-decoration: none
				.product-item
					min-height: 300px
					background-repeat: no-repeat
					margin-bottom: 60px
					max-width: 300px 
					background-position: center
					&:before
						content: ''
						padding: 160px 120px
						//border: 15px solid #fff
						position: relative
						left: 66px
						z-index: -1
						bottom: -135px
						border-radius: 5px
						transition: all 0.3s ease
					&:hover::before
						border: 15px solid #3949f8
						filter: drop-shadow(0 0 10px #3949f8)
					h3
						font-size: 20px
						margin-left: 20px
						font-weight: 600
						display: table-caption
					.product-btn
						button
							color: #FFF
							background-color: #3949f8

	
.sect-3
	padding-top: 150px
	padding-bottom: 50px
	background-image: url(/img/bg-s-3-3.svg)
	background-repeat: no-repeat
	background-position: center 80%
	.sect-3-header
		h2
			position: relative
			&:after
				position: relative
				content: ''
				height: 4px
				background: linear-gradient(101.78deg,#3B49F6 4%,#FE4797 100%)
				width: 68px
				display: block
				bottom: 0px
				left: 35px
				border-radius:  30px
				transform: translate(-50%, 0)
			&:before
				content: 'Наши услуги'
				position: absolute
				font-size: 125px
				color: #f9f9f9
				font-weight: 700
				bottom: -65px
				z-index: -1
				left: -60px
	.frst-rect
		width: 0
		height: 0
		border-width: 50px 30px 30px
		border-style: solid
		border-color: #fff #fff transparent
		//position: relative
		margin: 0 auto
		filter: drop-shadow(0 0 10px #bebebe)
		top: 90px
		margin-top: 90px
		&:after
			content: ""
			width: 130px
			height: 80px
			background: #fff
			position: absolute
			top: -50px
			left: 30px
			border-radius: 0 5px 5px 0
		&:before
			content: ""
			width: 130px
			height: 80px
			background: #fff
			position: absolute
			top: -50px
			left: -160px
			border-radius: 5px 0 0 5px
		h4
			left: -145px
			position: absolute
			top: -40px
			font-size: 17px
		img
			position: absolute
			top: -35px
			font-size: 17px
			z-index: 1
			left: 85px
			width: 50px
			height: auto
	.rhombus
		width: 0
		height: 0
		border: 25px solid transparent
		border-bottom-color: #fff
		position: relative
		top: -36px
		margin: 0 auto
		filter: drop-shadow(0 0 10px #bebebe)
		&:after
			content: ""
			width: 0
			height: 0
			position: absolute
			left: -25px
			top: 25px
			border: 25px solid transparent
			border-top-color: #fff
	.second-rect
		width: 0
		height: 0
		border-width: 30px 30px 320px
		border-style: solid
		border-color: #fff0 #ffffff #fffffffc
		margin: 0 auto
		-webkit-filter: drop-shadow(0 0 10px #bebebe)
		filter: drop-shadow(0 0 10px #bebebe)
		top: 0
		margin-top: -20px
		position: relative
		&:after
			content: ""
			width: 130px
			height: 350px
			background: #fff
			position: absolute
			top: -30px
			left: 30px
			border-radius: 0 5px 5px 0
		&:before
			content: ""
			width: 130px
			height: 350px
			background: #fff
			position: absolute
			top: -30px
			left: -160px
			border-radius: 5px 0 0 5px
		.service-list
			z-index: 1
			position: absolute
			right: -165px
			width: 290px
			margin-top: 15px
			ul
				padding: 0
				li
					padding-bottom: 15px
					font-size: 15px
					



.sect-4
	padding-top: 200px
	padding-bottom: 50px
	.sect-4-header
		padding-bottom: 80px
		h2
			position: relative
			&:after
				position: relative
				content: ''
				height: 4px
				background: linear-gradient(101.78deg,#3B49F6 4%,#FE4797 100%)
				width: 68px
				display: block
				bottom: 0px
				left: 35px
				border-radius:  30px
				transform: translate(-50%, 0)
			&:before
				content: 'Нам доверяют'
				position: absolute
				font-size: 125px
				color: #f9f9f9
				font-weight: 700
				bottom: -65px
				z-index: -1
				left: -60px
	.img-partners-wraper
		padding-top: 80px
		margin-bottom: 30px
		text-align: center
		padding: 10px 0
		.img-responsive
			margin: 0 auto


.contacts
	padding-top: 130px
	padding-bottom: 15px
	position: relative
	&:before
		content: ''
		height: 500px
		position: absolute
		width: 100%
		background: #1F204F
		top: 200px
	.form-wraper
		height: 100%
		filter: drop-shadow(0 0 2px #bebebe)
		background: #fff
		border-radius: 0 5px 5px 0
		form
			padding: 20px 65px 30px
			h4
				font-size: 20px
			h3
				font-size: 26px
			.input-form
				display: block
				width: 100%
				padding: 5px 15px
				margin: 0 auto
				margin-bottom: 5px 
				border-left: none
				border-right: none
				border-top: none
				margin: 20px 0
			textarea
				display: block
				margin: 0 auto
				margin-bottom: 5px
				width: 100%
				padding: 5px 15px
				margin-top: 30px
			.check-field
				margin-top: 20px
			.button-wraper-form
				padding-top: 15px
				text-align: left
				.button
					background: linear-gradient(to right, #3E49F5, #FE4797)
					color: #FFF

input[type="checkbox"] 
	border: 1px solid #f00
	background: #f00
	border-radius: 5

.footer-sect
	background: #1F204F
	padding: 40px 0 50px
	
	span
		color: #FFF
		display: block
	.footer-phone
		color: #FFF
		text-align: right
	.footer-addres
		color: #FFF
		text-align: center
	.footer-time
		color: #FFF
		text-align: center


.cube-1
	border: 40px solid #3949f8
	background-color: transparent
	filter: drop-shadow(0 0 10px #3949f8)
	top: 800px
	width: 265px
	height: 265px
	left: -121px
	border-radius: 5px
	transform: translateY(-180px) rotate(31deg)
.cube-2
	border: 40px solid #3949f8
	background-color: transparent
	filter: drop-shadow(0 0 10px #3949f8)
	left: 95%
	top: 300px
	width: 165px
	height: 165px
	border-radius: 5px
	transform: translateY(-180px) rotate(45deg)
.cube-3
	border: 40px solid #3949f8
	background-color: transparent
	filter: drop-shadow(0 0 10px #3949f8)
	left: 95%
	top: 1000px
	width: 305px
	height: 305px
	border-radius: 5px
	transform: translateY(-180px) rotate(45deg)
	

.list-style-dev
	list-style-type: none 
	li
		&:before 
			background-image: url(/img/li-style.svg)
			background-repeat: no-repeat
			content: ''
			width: 18px
			height: 18px
			position: absolute
			background-size: contain
			left: -24px
			margin-top: 3px


nav ul 
	margin: 0
	padding: 0
	list-style: none
	
nav ul:after 
	content: ""
	display: table
	clear: both
	
nav a 
	text-decoration: none
	display: block
	transition: .3s linear
	
.topmenu > li 
	float: left
	position: relative
	
.topmenu 
	li
		&:first-child 
			border-left: 0
.topmenu
	li
		a 
			padding: 5px 25px
			font-size: 16px
			color: #FEFDFD
			
.topmenu
	li
		a
			&:active, &:hover
				color: #ff4796
.topmenu .fa, 
.submenu .fa 
	margin-left: 5px
	color: inherit
	
.submenu 
	position: absolute
	z-index: 5
	max-width: 400px
	min-width: 270px 
	background: rgba(15, 31, 173, 0.9)
	border-top: 1px solid #1020af
	border-left: 1px solid #1020af
	border-right: 1px solid #1020af
	visibility: hidden
	opacity: 0
	-webkit-transform-origin: 0 0
	-ms-transform-origin: 0 0
	transform-origin: 0 0
	-webkit-transform: rotateX(-90deg)
	transform: rotateX(-90deg)
	-webkit-transition: .3s linear
	-o-transition: .3s linear
	transition: .3s linear
	border-radius: 5px
	box-shadow: 0 0px 11px rgb(0, 15, 150)
	
.submenu 
	li 
		position: relative
.submenu 
	li 
		a 
			color: #fff
			padding: 10px 20px
			font-size: 16px
			border-bottom: 1px solid #000f96
			
.submenu .submenu 
	position: absolute
	left: 100%
	top: -1px
	transition: .3s linear
	
nav li:hover > .submenu 
	transform: rotateX(0deg)
	visibility: visible
	opacity: 1
	
.toggle-mnu 
  display: block
  width: 28px
  height: 28px

  span:after, span:before 
    content: ""
    position: absolute
    left: 0
    top: 9px

  span:after
    top: 18px

  span 
    position: relative
    display: block

  span, span:after, span:before
    width: 100%
    height: 2px
    background-color: #fff
    transition: all 0.3s
    backface-visibility: hidden
    border-radius: 2px


  &.on span 
    background-color: transparent

  &.on span:before 
    transform: rotate(45deg) translate(-1px, 0px)

  &.on span:after 
    transform: rotate(-45deg) translate(6px, -7px)

.block
	display: block!important

// .mobile
// 	top: 0px
// 	position: fixed
// 	background: #3648e4
// 	z-index: 6
// 	height: 100vh
// 	width: 80%
// 	left: 0
// 	.topmenu
// 		margin-top: 50px
// 		li
// 			padding: 10px 20px  
// 			float: initial 
// 			border-bottom: 1px solid #fff 
		
.abs
	position: fixed
	z-index: 9
	top: 0px
	right: 0px

.other-page-header
	min-height: 150px
	&:after
		display: none
	
.content
	min-height: 80vh
	padding: 90px 0 150px
	background-image: url(/img/bg-content.png)
	background-position: center
	background-repeat: no-repeat
	h1
		padding-bottom: 60px
		&:after
			position: relative
			content: ''
			height: 4px
			background: linear-gradient(101.78deg,#3B49F6 4%,#FE4797 100%)
			width: 150px
			display: block
			bottom: 0px
			left: 80px
			border-radius:  30px
			transform: translate(-50%, 0)
			



.contacts-page
	padding-top: 130px
	.form-wraper
		height: 100%
		filter: drop-shadow(0 0 2px #bebebe)
		background: #fff
		border-radius: 0 5px 5px 0
		margin-top: 50px
		form
			padding: 20px 65px 30px
			h4
				font-size: 20px
			h3
				font-size: 26px
			.input-form
				display: block
				width: 100%
				padding: 5px 15px
				margin: 0 auto
				margin-bottom: 5px 
				border-left: none
				border-right: none
				border-top: none
				margin: 20px 0
			textarea
				display: block
				margin: 0 auto
				margin-bottom: 5px
				width: 100%
				padding: 5px 15px
				margin-top: 30px
			.check-field
				margin-top: 20px
			.button-wraper-form
				padding-top: 15px
				text-align: left
				.button
					background: linear-gradient(to right, #3E49F5, #FE4797)
					color: #FFF
	.contacts-wraper
		margin-left: 80px
		h3
			font-weight: 600
			font-size: 24px
			margin: 0
			padding: 0
			&:after
				position: relative
				content: ''
				height: 2px
				background: linear-gradient(101.78deg,#3B49F6 4%,#FE4797 100%)
				width: 50px
				display: block
				bottom: 0px
				left: 26px
				border-radius:  30px
				transform: translate(-50%, 0)
		h4
		 font-weight: 400 
		 font-size: 18px
		 


.product
	.categories-wraper
		background-color: #fff
		box-shadow: 0 15px 30px rgba(0,0,0,.15)
		.categories-title
			padding: 25px 30px
			font-size: 16px
			font-weight: 700
			text-transform: uppercase
			background-color: #fafafa
		.categories-content
			padding: 10px 30px 30px
			.categories-list
				margin: 0
				padding: 0
				list-style: none
				li
					position: relative
					margin-bottom: 15px
					a
						position: relative
						display: inline-block
						padding-left: 10px
						font-size: 16px
						color: #333
						text-decoration: none
						&:hover
							color: #000f96
							font-weight: 600 
	.product-wraper
		.product-img
			width: 100%
			height: auto
		.product-descr
			position: relative
			display: flex
			justify-content: space-between
			margin-bottom: 5px
			font-size: 16px
			z-index: 1
			&:after
				content: ''
				position: absolute
				bottom: 7px
				left: 0
				right: 0
				border-bottom: 2px dotted #999
				z-index: -1
			span,b
				background-color: #FFF
	.product-price
		display: inline-block
		margin-bottom: 25px
		margin-top: 10px
		font-size: 20px
		font-weight: 700
	.product-price-descr
		display: inline-block
		font-size: 16px
		font-weight: 500
	.product-table-price
		margin-top: 20px
		margin-bottom: 20px
		box-shadow: 0 15px 30px rgba(0,0,0,.15)
		.table-head
			margin: 0
			padding: 15px
			font-size: 16px
			text-align: center
			color: #fff
			text-transform: uppercase
			background-color: #000f96
		.table-wrap
			overflow-x: auto
			table
				width: 100%
				font-weight: 400
				background-color: #fff
				tr
					border-bottom: 1px solid #d7d9ef
					&:nth-child(2n)
						background-color: #d7d9ef
					td
						white-space: nowrap
						padding: 10px
						border-right: 1px solid #e5e5e5
						border-left: 1px solid #e5e5e5
						vertical-align: middle
				h4
					font-size: 14px
					color: #000F96
					margin: 0
					

		 

.line-content-1
.line-content-2
.line-content-3
	top: 30%
	
.line-3:after
	top: 300px

	
.mm-menu_offcanvas.mm-menu_opened
	z-index: 9

@import "media" // Always at the end
